body{
    position : absolute;
    overflow : hidden;
}

.zoneNiveau{
    position : absolute;
    /* background-color: transparent; */
}

/* .canvasNiveau{ */
    /* background-color: rgba(180,100,220,1) ; */
    /* z-index : 2; */
/* } */

.point {
    position : absolute;
    background-color: black;
    transform: translate(-50%,-50%);
    width : 15px;
    height : 15px;
    border-radius: 100%;
}

.point:hover{
    cursor: grab;
}

.point:active{
    cursor: grabbing;
}